.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: var(--background-color);
    color: var(--main-color);
}

.mustTry {
    color: purple;
}