.button {
    position:relative;
    left: 1%;
    font: inherit;
    cursor: pointer;
    background: var(--link-visited-color);
    border: 1px solid var(--main-border-color);
    color: var(--main-font-color);
    padding: 0.75rem 2rem;
    border-radius: 20px;
   

  }
  
  .button:hover,
  .button:active {
    background-color: var(--main-bg-color);
    border-color: var(--main-border-color);
    color: var(--main-color);
  }