.navbar {
  height: 80px;
  width: 100%;
  background: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2 rem;

}

.navlogo {
  text-decoration: none;
  color: var(--main-color);
}

.navlinks {
  left: -100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.navlink {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.3s all;
}

.navlink:hover {
  color: var(--link-hover-color)
}

.navicon {
  position: fixed;
  top:2%;
  left: 1%;
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .narbar {
    position: relative;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
  }

  .navlinks.active {
		background: var(--link-hover-color);
		left: 0;
	}

	.navitem {
		padding: 10px 0;
		border-top: 1px solid var(--link-visited-color);
		border-bottom: 1px solid var(--link-visited-color);
	}

	.navicon {
		display: flex;
	}
}