header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    /* padding: 1% 0%; */
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }

header li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: var(--link-color);
  }

header li a:hover,
header li a:active,
header .active {
    border-bottom: 3px dotted var(--main-font-color);
    border-top: 3px dotted var(--main-font-color);
    padding-top: 8%;
    padding-bottom: 8%;
    color: var(--link-hover-color);
    text-decoration: none;
  }

